<!DOCTYPE html>
<html>
<head>
	<title> Spot Show Page</title>
</head>
<body>

<h1><%= spot.spotname %> Show Page</h1>
	<h3>Name: <%= spot.spotname %></h3>
	<h3> Address: <%= spot.address%>
	<h3>Zone: <%= spot.zone%></h3>





<button><a href="/myspots/<%= spot.id%>/edit">Edit Spot</a></button>









</body>
</html>